<!DOCTYPE html>
<html lang="zh" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Title</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
</head>
<body>
	<h1>客户管理</h1>
	<div class="container" id="initForm">
		<form class="form-inline" id="searchForm">
			<div class="form-group">
				<label>客户名称</label> <input type="text" name="customName"
					class="form-control">
			</div>
			<div class="form-group">
				<label>客户来源</label> <select class="form-control" name="sourceName">
					<option disabled selected>-请选择客户来源-</option>
					<option v-for="source in sources">{{source.sourceName}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>所属行业</label> <select class="form-control" name="tradeName">
					<option disabled selected>-请选择行业-</option>
					<option v-for="trade in trades">{{trade.tradeName}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>客户级别</label> <select class="form-control" name="levelName">
					<option disabled selected>-请选择客户级别-</option>
					<option v-for="level in levels">{{level.levelName}}</option>
				</select>
			</div>
			<button onclick="searchCustom()" type="button"
				class="btn btn-primary">查询</button>
		</form>
		<hr>
	</div>
	<div class="container" id="customs">
		<button class="btn btn-danger">
			<a href="./addCustom.vue">新建客户</a>
		</button>
		<h2>客户信息列表</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>编号</th>
					<th>客户名称</th>
					<th>客户来源</th>
					<th>客户所属行业</th>
					<th>客户级别</th>
					<th>固定電話</th>
					<th>手机</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="custom in customs">
					<td>{{custom.customId}}</td>
					<td>{{custom.customName}}</td>
					<td>{{custom.source.sourceName}}</td>
					<td>{{custom.trade.tradeName}}</td>
					<td>{{custom.level.levelName}}</td>
					<td>{{custom.telephone}}</td>
					<td>{{custom.phone}}</td>
					<td><a href="./update.do">update</a> <a href="./del.do">delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container" id="showPageNum">
		<div v-if="PageNum === ''">Null</div>
		<div v-else-if="PageNum === undefined || PageNum.length == 0">ArrNull</div>
		<div v-else>
			<ul class="pagination">
				<li><a href="#" aria-label="Previous"> <span
						aria-hidden="true">«</span>
				</a></li>
				<li v-for="n in PageNum"><a href="#" v-on:click='toPage(n)'>{{
						n }}</a></li>
				<li><a href="#" aria-label="Next"> <span aria-hidden="true">»</span>
				</a></li>
			</ul>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/index.js"></script>
</html>